/*

Nav
===

  <div class="box">
    <header>
        <h3>Heading</h3>
    </header>
    <div class="content">
        <ul class="caret-list">
            <li>
                <a>Line 1</a>
            </li>
            <li>
                <a>Line 2</a>
            </li>
        </ul>
    </div>
  </div>

*/

.box{
  color: $dark-grey;
  font-size: 13px;
  background-color: #F9F9F9;
  @include border-radius(4px);
  border: 1px solid #DEDEDE;
  margin: 15px 0 0;
  @include clearfix;
  float: left;
  clear: both;

  @include tablet{
    font-size: 12px;
  }

  @include mobile{
    width: 100%;
  }

  header{
    background-color: $dark-grey;
    @include clearfix;
    @include border-radius(4px 4px 0 0);
    min-height: 39px;

    @include tablet{
      min-height: 35px;
    }

    h3{
      font-size: 13px;
      color: #fff;
      letter-spacing: 0.7px;
      padding: 12px 0 13px 19px;
      float: left;
      margin: 0;

      @include tablet{
        font-size: 12px;
        padding: 9px 0 12px 12px;
      }
    }
  }

  .content{
    @include border-radius(0 0 4px 4px);

    .caret-list{
      padding: 1px 19px 3px 18px;
      margin: 0;

      @include tablet{
        padding: 3px 12px 4px 11px;
      }

      @include mobile{
        padding: 3px 12px 4px 11px;
      }

      li{
        position: relative;
        padding: 13px 0 15px;
        border-top: 1px solid #DDDDDD;

        @include tablet{
          padding: 11px 0 13px;
        }

        @include mobile{
          padding: 13px 0 15px;
        }

        &:first-child{
          border-top: none;
        }

        a{
          display: block;
          color: #666666;
          padding: 0 0 0 19px;

          &:before{
            content: '';
            width: 7px;
            height: 12px;
            @include sprite(-213px);
            position: absolute;
            top: 50%;
            left: 1px;
            margin-top: -8px;

            @include tablet{
              width: 6px;
              height: 10px;
              @include sprite(-226px);
              margin-top: -6px;
            }
          }

          &:hover{
            color: $blue;
            text-decoration: none;
          }

          &.profile-li{
            color: $blue;

            &:before{
              @include sprite(-118px);
              border-width: 0;
              margin: 0;
              width: 17px;
              height: 17px;
              top: 12px;
              left: 0;

              @include tablet{
                top: 9px;
              }

              @include mobile{
                top: 12px;
              }
            }

            &:after{
              display: none;
            }
          }
        }
      }
    }
  }
}