/*

Table
=====

  <table class="dataTable display" cellspacing="0" width="100%">
    <thead>
      <tr>
          <th>Heading</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
          <th>Heading</th>
      </tr>
    </tfoot>
    <tbody>
      <tr>
          <td>Table cell</td>
      </tr>
    </tbody>
  </table>

*/

.dataTables_wrapper{
  .dataTable{
    border: 1px solid #E9E9E9;
    border-radius: 3px 3px 0 0;
    table-layout: fixed;
    font-size: 12px;
    color: #5e5e5e;

    *{
      outline: none;
    }

    thead{
      font-size: 13px;
      color: #333;

      th{
        width: auto!important;

        &:before{
          content: '';
          width: 6px;
          height: 12px;
          background-image: url("../images/datatable-sprite.png");
          background-size: 24px 100px;
          position: absolute;
          top: 13px;
          left: 10px;

          @include retina{
            background-image: url("../images/datatable-sprite@2x.png");
          }
        }

        &.sorting_asc{
          &:before{
            background-position: 0 -13px;
          }
        }

        &.sorting_desc{
          &:before{
            background-position: 0 -26px;
          }
        }

        &:last-child{
          @include desktop-wide{
            width: 516px!important;
          }

        }
      }
    }

    tbody{
      -webkit-tap-highlight-color: rgba(0,0,0,0);
    }

    tfoot{
      display: table-header-group;

      th{
        .icon{
          width: 24px;
          height: 15px;
          background-image: url("../images/datatable-sprite.png");
          background-position: 0 -53px;
          background-size: 24px 100px;
          position: absolute;
          top: 17px;
          right: 16px;
          pointer-events: none;

          @include retina{
            background-image: url("../images/datatable-sprite@2x.png");
          }
        }
      }
    }

    th,
    td{
      border-left: 1px solid #E9E9E9;
      position: relative;

      &:first-child{
        border-left: none;
      }

    }

    th{
      background-color: #f6f6f6;

      &.sorting_asc,
      &.sorting_desc{
        color: #4692AD;
      }
    }

    td{
      text-align: left;

      &.child{
        padding: 12px 7px 13px!important;

        li{
          padding: 5px 0 0;
        }
      }

      &.sorting_1{
        &:before{
          @include retina{
            background-image: url("../images/datatable-sprite@2x.png");
          }
        }
      }
    }

    input{
      border: 1px solid #DEDEDE;
      border-radius: 3px;
      padding: 6px 30px 6px 10px;
      font: 400 12px 'Helvetica', 'Arial', 'sans-serif';
      width: 100%;
      -webkit-appearance: none;

      &:hover,
      &:focus{
        border: 1px solid #4692AD;
      }

      &:hover{
        & + .icon{
          background-position: 0 -69px;
        }
      }
      &:focus{
        & + .icon{
          background-position: 0 -85px;
        }
      }
    }
  }

  .table-footer{
    font-size: 12px;
    font-weight: bold;
    padding: 11px 0 0;

    .dataTables_length{
      border-right: 1px solid #DEDEDE;
      padding: 0 27px 1px 0;

      label{
        position: relative;
        display: block;

        &:after{
          content: '';
          width: 6px;
          height: 12px;
          background-image: url("../images/datatable-sprite.png");
          background-size: 24px 100px;
          position: absolute;
          top: 8px;
          right: 13px;
          pointer-events: none;

          @include retina{
            background-image: url("../images/datatable-sprite@2x.png");
          }
        }
      }

      span{
        vertical-align: baseline;
      }

      select{
        background-color: #F9F9F9;
        border: 1px solid #D4D4D4;
        border-radius: 3px;
        font-size: 12px;
        font-weight: normal;
        color: #666666;
        margin: 0 0 0 6px;
        width: 74px;
        padding: 7px 10px 5px;
        letter-spacing: 0.4px;
        -webkit-appearance: none;
        outline: none;

        &:hover,
        &:focus{
          border: 1px solid #4692AD;
        }
      }
    }

    .dataTables_info{
      padding: 8px 0 0 22px;
    }

    .dataTables_paginate{
      .paginate_button{
        color: #666666;
        background-color: #f6f6f6;
        border-radius: 5px;
        position: relative;
        margin-left: 11px;
        border: 1px solid #D4D4D4;

        &.previous {
          padding: 6px 15px 7px 26px;

          .icon{
            background-position: 0 -39px;
            left: 15px;
          }
        }

        &.next {
          padding: 6px 25px 7px 14px;

          .icon{
            background-position: 0 -46px;
            right: 12px;
          }
        }

        .icon{
          width: 4px;
          height: 6px;
          background-image: url("../images/datatable-sprite.png");
          background-size: 24px 100px;
          position: absolute;
          top: 10px;

          @include retina{
            background-image: url("../images/datatable-sprite@2x.png");
          }
        }
      }
    }
  }
}

.dataTables_empty{
  padding: 12px 10px 13px!important;
}