/* Reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

ol, ul {
  list-style: none; }

caption, th {
  text-align: left; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0; }

a, button {
  text-decoration: none;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  padding: 0; }

/* Mixins */
/* Plugin styles */
table.dataTable {
  width: 100%;
  margin: 0 auto;
  clear: both;
  border-collapse: separate;
  border-spacing: 0;
  /*
   * Header and footer styles
   */
  /*
   * Body styles
   */ }

table.dataTable thead th,
table.dataTable tfoot th {
  font-weight: bold; }

table.dataTable thead th,
table.dataTable thead td {
  padding: 11px 22px 4px; }

table.dataTable thead th:active,
table.dataTable thead td:active {
  outline: none; }

table.dataTable tfoot th,
table.dataTable tfoot td {
  padding: 10px 10px 11px;
  border-bottom: 1px solid #E9E9E9; }

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
  cursor: pointer;
  *cursor: hand; }

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  background-repeat: no-repeat;
  background-position: center right; }

table.dataTable thead .sorting_asc_disabled {
  background-image: url("../images/sort_asc_disabled.png"); }

table.dataTable thead .sorting_desc_disabled {
  background-image: url("../images/sort_desc_disabled.png"); }

table.dataTable tbody tr {
  background-color: #f6f6f6; }

table.dataTable tbody tr.selected {
  background-color: #B0BED9; }

table.dataTable tbody th,
table.dataTable tbody td {
  padding: 12px 10px 13px;
  word-break: break-word; }

table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
  border-top: 1px solid #ddd; }

table.dataTable.row-border tbody tr:first-child th,
table.dataTable.row-border tbody tr:first-child td, table.dataTable.display tbody tr:first-child th,
table.dataTable.display tbody tr:first-child td {
  border-top: none; }

table.dataTable.cell-border tbody th, table.dataTable.cell-border tbody td {
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd; }

table.dataTable.cell-border tbody tr th:first-child,
table.dataTable.cell-border tbody tr td:first-child {
  border-left: 1px solid #ddd; }

table.dataTable.cell-border tbody tr:first-child th,
table.dataTable.cell-border tbody tr:first-child td {
  border-top: none; }

table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
  background-color: #ffffff; }

table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd + .child {
  background-color: #ffffff; }

table.dataTable.stripe tbody tr.odd.selected, table.dataTable.display tbody tr.odd.selected {
  background-color: #abb9d3; }

table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
  background-color: #e7e7e7; }

table.dataTable.hover tbody tr:hover.selected, table.dataTable.display tbody tr:hover.selected {
  background-color: #a9b7d1; }

table.dataTable.order-column tbody tr > .sorting_1,
table.dataTable.order-column tbody tr > .sorting_2,
table.dataTable.order-column tbody tr > .sorting_3, table.dataTable.display tbody tr > .sorting_1,
table.dataTable.display tbody tr > .sorting_2,
table.dataTable.display tbody tr > .sorting_3 {
  /* background-color: #f9f9f9; */ }

table.dataTable.order-column tbody tr.selected > .sorting_1,
table.dataTable.order-column tbody tr.selected > .sorting_2,
table.dataTable.order-column tbody tr.selected > .sorting_3, table.dataTable.display tbody tr.selected > .sorting_1,
table.dataTable.display tbody tr.selected > .sorting_2,
table.dataTable.display tbody tr.selected > .sorting_3 {
  background-color: #acbad4; }

table.dataTable.display tbody tr.odd > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
  /* background-color: #f1f1f1; */ }

table.dataTable.display tbody tr.odd > .sorting_2, table.dataTable.order-column.stripe tbody tr.odd > .sorting_2 {
  background-color: #f3f3f3; }

table.dataTable.display tbody tr.odd > .sorting_3, table.dataTable.order-column.stripe tbody tr.odd > .sorting_3 {
  background-color: whitesmoke; }

table.dataTable.display tbody tr.odd.selected > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_1 {
  background-color: #a6b3cd; }

table.dataTable.display tbody tr.odd.selected > .sorting_2, table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_2 {
  background-color: #a7b5ce; }

table.dataTable.display tbody tr.odd.selected > .sorting_3, table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_3 {
  background-color: #a9b6d0; }

table.dataTable.display tbody tr.even > .sorting_1, table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {
  background-color: #f9f9f9; }

table.dataTable.display tbody tr.even > .sorting_2, table.dataTable.order-column.stripe tbody tr.even > .sorting_2 {
  background-color: #fbfbfb; }

table.dataTable.display tbody tr.even > .sorting_3, table.dataTable.order-column.stripe tbody tr.even > .sorting_3 {
  background-color: #fdfdfd; }

table.dataTable.display tbody tr.even.selected > .sorting_1, table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_1 {
  background-color: #acbad4; }

table.dataTable.display tbody tr.even.selected > .sorting_2, table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_2 {
  background-color: #adbbd6; }

table.dataTable.display tbody tr.even.selected > .sorting_3, table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_3 {
  background-color: #afbdd8; }

table.dataTable.display tbody tr:hover > .sorting_1, table.dataTable.order-column.hover tbody tr:hover > .sorting_1 {
  background-color: #e7e7e7; }

table.dataTable.display tbody tr:hover > .sorting_2, table.dataTable.order-column.hover tbody tr:hover > .sorting_2 {
  background-color: #ebebeb; }

table.dataTable.display tbody tr:hover > .sorting_3, table.dataTable.order-column.hover tbody tr:hover > .sorting_3 {
  background-color: #eeeeee; }

table.dataTable.display tbody tr:hover.selected > .sorting_1, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_1 {
  background-color: #a1aec7; }

table.dataTable.display tbody tr:hover.selected > .sorting_2, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_2 {
  background-color: #a2afc8; }

table.dataTable.display tbody tr:hover.selected > .sorting_3, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_3 {
  background-color: #a4b2cb; }

table.dataTable.no-footer {
  border-bottom: 1px solid #111; }

table.dataTable.nowrap th, table.dataTable.nowrap td {
  white-space: nowrap; }

table.dataTable.compact thead th,
table.dataTable.compact thead td {
  padding: 4px 17px 4px 4px; }

table.dataTable.compact tfoot th,
table.dataTable.compact tfoot td {
  padding: 4px; }

table.dataTable.compact tbody th,
table.dataTable.compact tbody td {
  padding: 4px; }

table.dataTable th.dt-left,
table.dataTable td.dt-left {
  text-align: left; }

table.dataTable th.dt-center,
table.dataTable td.dt-center,
table.dataTable td.dataTables_empty {
  text-align: center; }

table.dataTable th.dt-right,
table.dataTable td.dt-right {
  text-align: right; }

table.dataTable th.dt-justify,
table.dataTable td.dt-justify {
  text-align: justify; }

table.dataTable th.dt-nowrap,
table.dataTable td.dt-nowrap {
  white-space: nowrap; }

table.dataTable thead th.dt-head-left,
table.dataTable thead td.dt-head-left,
table.dataTable tfoot th.dt-head-left,
table.dataTable tfoot td.dt-head-left {
  text-align: left; }

table.dataTable thead th.dt-head-center,
table.dataTable thead td.dt-head-center,
table.dataTable tfoot th.dt-head-center,
table.dataTable tfoot td.dt-head-center {
  text-align: center; }

table.dataTable thead th.dt-head-right,
table.dataTable thead td.dt-head-right,
table.dataTable tfoot th.dt-head-right,
table.dataTable tfoot td.dt-head-right {
  text-align: right; }

table.dataTable thead th.dt-head-justify,
table.dataTable thead td.dt-head-justify,
table.dataTable tfoot th.dt-head-justify,
table.dataTable tfoot td.dt-head-justify {
  text-align: justify; }

table.dataTable thead th.dt-head-nowrap,
table.dataTable thead td.dt-head-nowrap,
table.dataTable tfoot th.dt-head-nowrap,
table.dataTable tfoot td.dt-head-nowrap {
  white-space: nowrap; }

table.dataTable tbody th.dt-body-left,
table.dataTable tbody td.dt-body-left {
  text-align: left; }

table.dataTable tbody th.dt-body-center,
table.dataTable tbody td.dt-body-center {
  text-align: center; }

table.dataTable tbody th.dt-body-right,
table.dataTable tbody td.dt-body-right {
  text-align: right; }

table.dataTable tbody th.dt-body-justify,
table.dataTable tbody td.dt-body-justify {
  text-align: justify; }

table.dataTable tbody th.dt-body-nowrap,
table.dataTable tbody td.dt-body-nowrap {
  white-space: nowrap; }

/*
 * Control feature layout
 */
.dataTables_wrapper {
  position: relative;
  clear: both;
  *zoom: 1;
  zoom: 1; }

.dataTables_wrapper .dataTables_length {
  float: left; }

.dataTables_wrapper .dataTables_filter {
  float: right;
  text-align: right; }

.dataTables_wrapper .dataTables_filter input {
  margin-left: 0.5em; }

.dataTables_wrapper .dataTables_info {
  /* clear: both; */
  float: left;
  /* padding-top: 0.755em; */ }

.dataTables_wrapper .dataTables_paginate {
  float: right;
  text-align: right;
  /* padding-top: 0.25em; */ }

.dataTables_wrapper .dataTables_paginate .paginate_button {
  box-sizing: border-box;
  display: inline-block;
  /* min-width: 1.5em; */
  /* padding: 0.5em 1em; */
  /* margin-left: 2px; */
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  *cursor: hand;
  /* color: #333 !important; */
  /* border: 1px solid transparent; */ }

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #333 !important;
  border: 1px solid #cacaca;
  background-color: white;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #dcdcdc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #dcdcdc 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, white 0%, #dcdcdc 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, white 0%, #dcdcdc 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, white 0%, #dcdcdc 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, white 0%, #dcdcdc 100%);
  /* W3C */ }

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  cursor: default;
  /* color: #666 !important; */
  /* border: 1px solid transparent; */
  /* background: transparent; */
  /* box-shadow: none; */
  opacity: 0.5; }

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background-color: #e7e7e7; }

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover {
  background-color: inherit; }

.dataTables_wrapper .dataTables_paginate .ellipsis {
  padding: 0 1em; }

.dataTables_wrapper .dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 40px;
  margin-left: -50%;
  margin-top: -25px;
  padding-top: 20px;
  text-align: center;
  font-size: 1.2em;
  background-color: white;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(25%, rgba(255, 255, 255, 0.9)), color-stop(75%, rgba(255, 255, 255, 0.9)), color-stop(100%, rgba(255, 255, 255, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  /* IE10+ */
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  /* W3C */ }

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
  color: #333; }

.dataTables_wrapper .dataTables_scroll {
  clear: both; }

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody {
  *margin-top: -1px;
  -webkit-overflow-scrolling: touch; }

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody th > div.dataTables_sizing,
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody td > div.dataTables_sizing {
  height: 0;
  overflow: hidden;
  margin: 0 !important;
  padding: 0 !important; }

.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: 1px solid #111; }

.dataTables_wrapper.no-footer div.dataTables_scrollHead table,
.dataTables_wrapper.no-footer div.dataTables_scrollBody table {
  border-bottom: none; }

.dataTables_wrapper:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0; }

@media screen and (max-width: 767px) {
  .dataTables_wrapper .dataTables_info,
  .dataTables_wrapper .dataTables_paginate {
    float: none;
    text-align: center; }

  .dataTables_wrapper .dataTables_paginate {
    margin-top: 0.5em; } }
@media screen and (max-width: 640px) {
  .dataTables_wrapper .dataTables_length,
  .dataTables_wrapper .dataTables_filter {
    float: none;
    text-align: center; }

  .dataTables_wrapper .dataTables_filter {
    margin-top: 0.5em; } }
@media (max-width: 1023px) {
  .dataTables_wrapper .dataTables_length,
  .dataTables_wrapper .dataTables_info,
  .dataTables_wrapper .dataTables_paginate {
    float: none;
    display: inline-block; }
  .dataTables_wrapper .dataTables_paginate {
    clear: both;
    text-align: center;
    padding: 15px 0; } }
@media (max-width: 767px) {
  .dataTables_wrapper .table-container {
    overflow-x: scroll;
    overflow-y: auto; }
    .dataTables_wrapper .table-container .dataTable {
      min-width: 600px; }
  .dataTables_wrapper .table-footer .dataTables_info,
  .dataTables_wrapper .table-footer .dataTables_paginate {
    display: block;
    padding: 10px 0 0 !important; }
  .dataTables_wrapper .table-footer .dataTables_length {
    border-right: none !important;
    padding: 0 !important; } }
/* Component containers
----------------------------------*/
.ui-widget {
  font-family: inherit;
  font-size: 14px; }

.ui-widget .ui-widget {
  font-size: 14px; }

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
  font-family: inherit;
  font-size: 14px; }

.ui-widget-content {
  background: #ffffff;
  color: #7C7C7C; }

.ui-widget-content a {
  color: #7C7C7C; }

.ui-widget-header {
  background: #4692AD;
  color: #fff; }

.ui-widget-header a {
  color: #fff; }

/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  border: 1px solid #fff;
  background: #fff;
  font-weight: normal;
  color: #555555; }

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
  color: #555555;
  text-decoration: none; }

.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited {
  color: #555555;
  text-decoration: none; }

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  background: #f6f6f6;
  font-weight: normal;
  color: #555555; }

.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
  color: #555555;
  text-decoration: none; }

/* Interaction Cues
----------------------------------*/
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  /*
  border: 1px solid #fcefa1;
  background: #fbf9ee;
  color: #363636;
  */ }

.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
  /*
  color: #363636;
  */ }

.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
  border: 1px solid #cd0a0a;
  background: #fef1ec;
  color: #cd0a0a; }

.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
  color: #cd0a0a; }

.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
  color: #cd0a0a; }

.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
  font-weight: bold; }

.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
  opacity: .7;
  filter: Alpha(Opacity=70);
  /* support: IE8 */
  font-weight: normal; }

.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
  opacity: .35;
  filter: Alpha(Opacity=35);
  /* support: IE8 */
  background-image: none; }

.ui-state-disabled .ui-icon {
  filter: Alpha(Opacity=35);
  /* support: IE8 - See #6059 */ }

/* Icons
----------------------------------*/
/* states and images */
.ui-icon {
  width: 16px;
  height: 16px; }

/* Misc visuals
----------------------------------*/
/* Corner radius */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
  border-top-left-radius: 5px; }

.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
  border-top-right-radius: 5px; }

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
  border-bottom-left-radius: 5px; }

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
  border-bottom-right-radius: 5px; }

/* Overlays */
.ui-widget-overlay {
  background: #aaaaaa;
  opacity: .3;
  filter: Alpha(Opacity=30);
  /* support: IE8 */ }

.ui-widget-shadow {
  margin: 0 0 0 0;
  padding: 0;
  background: #000000;
  opacity: 0;
  filter: Alpha(Opacity=0);
  /* support: IE8 */
  border-radius: 10; }

/* Additions */
#ui-datepicker-div {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.25);
  -moz-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.25);
  box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.25);
  z-index: 99 !important; }

.ui-datepicker-header {
  position: relative;
  border-radius: 4px 4px 0 0; }

.ui-datepicker-title {
  text-align: center;
  height: 42px;
  padding: 14px 0 0; }

.ui-datepicker-prev,
.ui-datepicker-next {
  position: absolute;
  top: 14px;
  font-size: 12px; }

.ui-datepicker-prev {
  left: 16px; }

.ui-datepicker-next {
  right: 16px; }

.ui-datepicker-month {
  color: #fff;
  font-size: 12px;
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 0; }

.ui-datepicker-calendar {
  margin: 17px 7px 5px;
  text-align: center; }

.ui-datepicker-calendar th {
  color: #5F9BB7;
  text-align: center; }

.ui-datepicker-calendar td,
.ui-datepicker-calendar th {
  padding: 2px 0; }

.ui-datepicker-calendar th span {
  height: 24px;
  display: block; }

.ui-datepicker-calendar td a,
.ui-datepicker-calendar td span {
  width: 40px;
  height: 33px;
  line-height: 36px;
  display: block; }

.ui-datepicker-calendar td a:hover {
  background-color: #F3FBFF; }

.ui-datepicker-today a {
  font-weight: bold !important;
  color: #494949 !important; }

@media (max-width: 767px) {
  #ui-datepicker-div {
    width: 92%;
    left: 4% !important; }

  .ui-datepicker-calendar {
    width: 100%;
    margin: 17px 0 10px; }

  .ui-datepicker-calendar th span {
    width: auto; }

  .ui-datepicker-calendar td a,
  .ui-datepicker-calendar td span {
    width: auto;
    height: auto;
    line-height: 36px; } }
/* Responsive grid */
/*-----------------*/
.resp-container {
  margin-right: auto;
  margin-left: auto;
  position: relative;
  padding: 0; }
  @media (max-width: 767px) {
    .resp-container {
      width: 100%; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    .resp-container {
      width: 768px; } }
  @media (min-width: 1024px) {
    .resp-container {
      width: 1024px; } }
  @media (min-width: 1440px) {
    .resp-container {
      width: 1440px; } }

body {
  font-family: helvetica, arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background: #F9F9F9; }

main > header {
  width: 100%;
  height: 88px;
  background: #4A4A4A;
  text-align: center; }
  @media (max-width: 767px) {
    main > header {
      height: 65px; } }
  main > header .logo {
    width: 180px;
    height: 61px;
    background-image: url("../images/logo.png");
    background-size: 180px 61px;
    margin: 11px auto 0;
    display: inline-block; }
    @media (max-width: 767px) {
      main > header .logo {
        width: 38px;
        height: 40px;
        background-size: 118px 40px; } }

.heading-section {
  border-top: 1px solid #D4D4D4;
  border-bottom: 1px solid #D4D4D4;
  background: white;
  background: -moz-linear-gradient(top, white 0%, #f1f1f1 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #f1f1f1));
  background: -webkit-linear-gradient(top, white 0%, #f1f1f1 100%);
  background: -o-linear-gradient(top, white 0%, #f1f1f1 100%);
  background: -ms-linear-gradient(top, white 0%, #f1f1f1 100%);
  background: linear-gradient(to bottom, white 0%, #f1f1f1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f1f1f1', GradientType=0);
  text-align: center;
  padding: 60px 0 0;
  min-height: 258px; }
  @media (max-width: 767px) {
    .heading-section {
      padding: 30px 0 29px;
      min-height: 100%; } }
  .heading-section .resp-container {
    padding: 0 130px; }
    @media (min-width: 1440px) {
      .heading-section .resp-container {
        padding: 0 330px; } }
    @media (min-width: 768px) and (max-width: 1023px) {
      .heading-section .resp-container {
        padding: 0 30px; } }
    @media (max-width: 767px) {
      .heading-section .resp-container {
        padding: 0 7.8%; } }
    .heading-section .resp-container h1 {
      margin: 0 auto; }
      @media (max-width: 767px) {
        .heading-section .resp-container h1 {
          font-size: 30px; } }
    .heading-section .resp-container p {
      margin: 14px auto 0;
      letter-spacing: 0.4px; }
      @media (max-width: 767px) {
        .heading-section .resp-container p {
          margin: 13px auto 0; } }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

p {
  font-size: 14px;
  line-height: 23px;
  color: #7C7C7C; }
  @media (max-width: 767px) {
    p {
      font-size: 13px;
      line-height: 21px; } }

#sidebar {
  position: absolute;
  padding: 67px 0 0 28px; }
  @media (max-width: 767px) {
    #sidebar {
      position: static;
      padding: 18px 5.8% 0; } }
  #sidebar.fixed {
    position: fixed;
    top: -34px; }

.nav {
  border-radius: 3px;
  width: 252px;
  margin: 17px 0 0; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .nav {
      width: 200px; } }
  @media (max-width: 767px) {
    .nav {
      display: none; } }
  .nav .li-header {
    padding: 0 0 8px; }
    .nav .li-header:last-child {
      margin: 0 0 10px; }
    .nav .li-header a {
      font-weight: 500 !important;
      color: #FFFFFF !important;
      background-color: #5F9BB7 !important;
      border-radius: 3px 3px 0 0;
      padding: 12px 0 9px 21px; }
      .nav .li-header a:hover, .nav .li-header a.current {
        background-color: #5F9BB7 !important; }
  .nav li {
    border-left: 1px solid #E9E9E9;
    border-right: 1px solid #E9E9E9;
    background: #fff; }
    .nav li.bottom, .nav li:last-child {
      border-bottom: 1px solid #E9E9E9;
      padding: 0 0 10px;
      border-radius: 0 0 3px 3px; }
      .nav li.bottom + ul .li-header, .nav li:last-child + ul .li-header {
        margin: 18px 0 0; }
  .nav > li > a {
    font-size: 16px;
    /* line-height: 30px; */
    color: #7C7C7C;
    width: 100%;
    height: 100%;
    display: block;
    padding: 9px 0 8px 21px;
    transition: all 0.2s;
    letter-spacing: 0.3px; }
  .nav a:focus {
    background-color: transparent !important; }
  .nav a:hover, .nav a.current {
    color: #5F9BB7;
    background-color: #F3FBFF !important; }

.tinynav {
  display: none; }
  @media (max-width: 767px) {
    .tinynav {
      display: block;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 100%;
      background-color: #5F9BB7;
      border-radius: 3px;
      border: none;
      font: 500 16px 'Helvetica', 'Arial', 'sans-serif';
      color: #fff;
      padding: 11px 20px 10px 19px;
      background-image: url("../images/arrows.png");
      background-size: 23px 40px;
      background-position: 100%;
      background-repeat: no-repeat;
      outline: none;
      -webkit-box-shadow: 0 0 1px 0 #e9e9e9;
      -moz-box-shadow: 0 0 1px 0 #e9e9e9;
      box-shadow: 0 0 1px 0 #e9e9e9; } }
      @media (max-width: 767px) {
    .tinynav:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 #fff; } }

.content {
  padding: 83px 28px 0 320px; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .content {
      padding: 83px 28px 0 268px; } }
  @media (max-width: 767px) {
    .content {
      padding: 28px 5.8% 0; } }
  .content section {
    border-top: 1px solid #D4D4D4; }
    .content section:before, .content section:after {
      content: " ";
      display: table;
      clear: both; }
    .content section#color {
      border-top: none;
      padding: 50px 0 66px; }
      @media (max-width: 767px) {
        .content section#color {
          padding: 20px 0 25px; } }
      .content section#color .color-container {
        width: 200px;
        float: left;
        margin: 23px 25px 15px 0;
        border-radius: 3px;
        overflow: hidden; }
        @media (min-width: 1440px) {
          .content section#color .color-container {
            width: 225px;
            margin: 23px 48px 15px 0; } }
        @media (min-width: 768px) and (max-width: 1023px) {
          .content section#color .color-container {
            width: 210px;
            margin: 23px 25px 15px 0; } }
        @media (max-width: 767px) {
          .content section#color .color-container {
            width: 47%;
            float: left;
            margin: 13px 0 5px; } }
        .content section#color .color-container .color-box {
          display: block;
          height: 175px;
          width: 100%;
          margin: 0; }
          @media (max-width: 767px) {
            .content section#color .color-container .color-box {
              height: 109px; } }
          .content section#color .color-container .color-box#blue {
            background: #4692AD; }
          .content section#color .color-container .color-box#green {
            background: #009F65; }
          .content section#color .color-container .color-box#purple {
            background: #7559A2; }
          .content section#color .color-container .color-box#yellow {
            background: #FABE00; }
          .content section#color .color-container .color-box#black {
            background: #000000; }
          .content section#color .color-container .color-box#dark-grey {
            background: #494949; }
          .content section#color .color-container .color-box#medium-grey {
            background: #7C7C7C; }
          .content section#color .color-container .color-box#light-grey {
            background: #D4D4D4; }
        .content section#color .color-container > div {
          border: 1px solid #D4D4D4;
          border-top: none;
          border-radius: 3px;
          padding: 15px 0 11px; }
          .content section#color .color-container > div:before, .content section#color .color-container > div:after {
            content: " ";
            display: table;
            clear: both; }
          @media (max-width: 767px) {
            .content section#color .color-container > div {
              padding: 11px 0 1px; } }
        .content section#color .color-container span {
          font-size: 14px;
          line-height: 21px;
          color: #9B9B9B;
          display: block;
          letter-spacing: 0.2px;
          margin: 0 0 0 17px; }
          @media (max-width: 767px) {
            .content section#color .color-container span {
              font-size: 13px;
              line-height: 17px;
              margin: 0 0 10px 14px; } }
          .content section#color .color-container span:before {
            font-size: 14px;
            font-weight: 500;
            color: #7C7C7C;
            width: 43px;
            display: inline-block; }
            @media (max-width: 767px) {
              .content section#color .color-container span:before {
                font-size: 13px;
                display: block; } }
          .content section#color .color-container span.hex:before {
            content: 'HEX'; }
          .content section#color .color-container span.rgb:before {
            content: 'RGB'; }
        @media (max-width: 767px) {
          .content section#color .color-container:nth-child(2n) {
            float: right; } }
    .content section#buttons {
      padding: 100px 0 90px; }
      @media (max-width: 767px) {
        .content section#buttons {
          padding: 29px 0 23px; } }
      .content section#buttons .code-snippet {
        width: 100%;
        margin: 10px 0 0; }
    .content section#table-line {
      padding: 50px 0 103px;
      margin: 56px 0 0;
      border-top: none; }
      @media (max-width: 767px) {
        .content section#table-line {
          padding: 35px 0 50px; } }

.line {
  margin: 11px 0 0;
  position: relative; }
  .line:before, .line:after {
    content: " ";
    display: table;
    clear: both; }

section#typography {
  padding: 87px 0; }
  @media (max-width: 767px) {
    section#typography {
      padding: 28px 0 32px; } }
  section#typography h3 + .line {
    margin: 46px 0 0; }
    @media (max-width: 767px) {
      section#typography h3 + .line {
        margin: 12px 0 0; } }
    @media (max-width: 767px) {
      section#typography h3 + .line .code-snippet {
        margin: 0; } }
  section#typography .line {
    margin: 19px 0 0; }
    @media (max-width: 767px) {
      section#typography .line {
        margin: 14px 0 0; } }
    section#typography .line > *:first-child {
      line-height: 62px;
      float: left; }
      @media (max-width: 767px) {
        section#typography .line > *:first-child {
          line-height: 56px;
          float: none; } }
    @media (max-width: 767px) {
      section#typography .line .code-snippet {
        margin: -2px 0 -3px; } }
  section#typography .code-snippet {
    clear: both;
    float: none; }
    @media (min-width: 1440px) {
      section#typography .code-snippet {
        width: 574px;
        float: right;
        clear: none; } }
section#expandable-section .form-box {
  height: auto; }

.code-snippet {
  height: 62px;
  background: #fff;
  border: 1px solid #E9E9E9;
  border-radius: 3px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 20px 0 0 20px;
  position: relative; }
  @media (min-width: 1440px) {
    .code-snippet {
      padding: 20px 0 0 37px; } }
  @media (max-width: 767px) {
    .code-snippet {
      padding: 21px 0 0 25px;
      margin: 0; } }
  .code-snippet.wide {
    height: 193px;
    width: 100%;
    padding: 16px 40px 16px 28px;
    margin: 40px 0 0; }
    @media (min-width: 1440px) {
      .code-snippet.wide {
        width: 555px;
        float: right;
        margin: 0; } }
    @media (max-width: 767px) {
      .code-snippet.wide {
        padding: 16px 40px 16px 28px;
        margin: 9px 0 0; } }
    .code-snippet.wide code {
      white-space: normal;
      line-height: 18px; }

code {
  font: normal 13px Menlo, Monaco, Consolas, "Courier New", monospace;
  white-space: nowrap;
  display: block;
  background-color: transparent;
  color: #494949;
  border-radius: 0;
  padding: 0; }
  code * {
    font: normal 13px Menlo, Monaco, Consolas, "Courier New", monospace; }

pre {
  font: normal 13px/18px Menlo, Monaco, Consolas, "Courier New", monospace;
  white-space: pre-wrap;
  max-height: 100%;
  color: #494949;
  overflow: visible;
  background-color: transparent;
  border: none;
  word-break: normal; }
  @media (max-width: 767px) {
    pre {
      height: auto; } }

.blue {
  color: #3182BD; }

.light-blue {
  color: #286DAF; }

.purple {
  color: #756BB1; }

.red {
  color: #E6550D; }

.col-3 {
  width: 323px;
  float: left;
  margin: 58px 0 10px 30px; }
  @media (min-width: 1440px) {
    .col-3 {
      width: 321px;
      margin: 58px 0 10px 64px; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    .col-3 {
      width: 100%;
      float: none;
      margin: 58px 0 0 0 !important; } }
  @media (max-width: 767px) {
    .col-3 {
      width: 100%;
      float: none;
      margin: 22px 0 32px !important; } }
  .col-3:nth-child(3n) {
    margin-left: 0; }
    @media (min-width: 1440px) {
      .col-3:nth-child(3n) {
        margin-left: 64px; } }
  .col-3:nth-child(3n+1) {
    margin-left: 0;
    clear: left; }
    @media (min-width: 1440px) {
      .col-3:nth-child(3n+1) {
        margin-left: 0;
        clear: none; } }
  .col-3:nth-child(7), .col-3:nth-child(8), .col-3:nth-child(9) {
    margin-top: 78px; }
  @media (max-width: 767px) {
    .col-3:last-child {
      margin: 22px 0 0 !important; } }

.btn {
  margin: 0; }
  .btn.has-icon {
    margin: 0; }

.btn-lg {
  margin: 0; }

.copy-code {
  font-family: helvetica, arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #169E66;
  padding: 0;
  margin: 12px 0 0;
  position: relative;
  overflow: visible;
  padding-right: 24px;
  letter-spacing: 0.6px; }
  @media (max-width: 767px) {
    .copy-code {
      z-index: 99; } }
  .copy-code:after {
    content: '';
    width: 17px;
    height: 16px;
    background-image: url("../images/copy.png");
    background-size: 17px 16px;
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    top: 1px;
    right: 0; }
  .copy-code.zeroclipboard-is-active {
    opacity: 0.5; }

.content section#expandable-section, .content section#icons {
  padding: 106px 0 94px; }
  @media (max-width: 767px) {
    .content section#expandable-section, .content section#icons {
      padding: 30px 0 60px; } }
  .content section#expandable-section h3, .content section#icons h3 {
    margin: 0 0 11px; }
  @media (max-width: 767px) {
    .content section#expandable-section .line, .content section#icons .line {
      padding: 0 0 41px; } }
.content section#icons h3 {
  margin: 30px 0; }
  .content section#icons h3:first-child {
    margin: 0 0 30px; }
.content div#form-elements {
  padding: 106px 0 100px;
  border-top: 1px solid #D4D4D4;
  border-bottom: 1px solid #D4D4D4; }
  @media (max-width: 767px) {
    .content div#form-elements {
      padding: 28px 0 62px; } }
  .content div#form-elements > h2:first-child + .line {
    padding: 48px 0 0; }
    @media (max-width: 767px) {
      .content div#form-elements > h2:first-child + .line {
        padding: 10px 0 41px; } }

.form-box {
  height: 193px;
  margin: 0 auto;
  width: 676px;
  float: none; }
  @media (min-width: 1440px) {
    .form-box {
      width: 500px;
      float: left; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    .form-box {
      width: 472px; } }
  @media (max-width: 767px) {
    .form-box {
      width: 100%; } }
  .form-box + .copy-code {
    float: right;
    margin: 10px 25px 0 0; }
    @media (min-width: 1440px) {
      .form-box + .copy-code {
        position: absolute;
        top: -34px;
        right: 11px;
        float: none;
        margin: 0; } }
    @media (max-width: 767px) {
      .form-box + .copy-code {
        position: absolute;
        margin: 0;
        bottom: 17px;
        left: 0; } }
  .form-box .form-container .form-group {
    width: auto; }

.form-container form {
  height: 100%; }

#form-elements .line {
  margin: 0;
  padding: 39px 0 0; }
  @media (max-width: 767px) {
    #form-elements .line {
      padding: 15px 0 41px; } }
  #form-elements .line#date-picker-line .form-group {
    display: block; }
  @media (max-width: 767px) {
    #form-elements .line#caret-list-line .form-box {
      height: 200px; } }
  #form-elements .line h3 {
    margin: 0 0 8px; }
#form-elements .form-box {
  width: 100%;
  height: 194px; }
  @media (min-width: 1440px) {
    #form-elements .form-box {
      width: 526px; } }
  @media (max-width: 767px) {
    #form-elements .form-box {
      height: 130px; } }
  #form-elements .form-box .form-container {
    border-top: 1px solid #E9E9E9;
    width: 100%;
    height: 100%;
    border-radius: 3px; }
  @media (min-width: 1440px) {
    #form-elements .form-box + .copy-code {
      top: 39px;
      right: 25px; } }
#form-elements .code-snippet.wide {
  height: 193px;
  width: 100%;
  padding: 18px 40px 18px 19px; }
  @media (min-width: 1440px) {
    #form-elements .code-snippet.wide {
      width: 547px; } }
  @media (max-width: 767px) {
    #form-elements .code-snippet.wide {
      padding: 18px 40px 18px 19px; } }
@media (min-width: 1440px) {
  #form-elements h2:first-child + .line .copy-code {
    top: 49px; } }

#table-line .form-box {
  height: 100%;
  float: none;
  margin: 10px 0 0; }
  @media (max-width: 767px) {
    #table-line .form-box {
      margin: 7px 0 0;
      background: #fff;
      border: 1px solid #E9E9E9; } }
  @media (max-width: 767px) {
    #table-line .form-box .form-container {
      border: none; } }
#table-line .code-snippet.wide {
  width: 100%;
  float: none;
  margin: 13px 0 3px; }

.form-group {
  margin: 0 auto !important;
  top: 50%;
  transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  display: inline-block;
  vertical-align: middle;
  max-width: 310px; }
  .form-group input.valid {
    border: 1px solid #44B471;
    color: #44B471;
    background-image: url("../images/form-elements/tick-large.png");
    background-repeat: no-repeat;
    background-size: 27px 12px;
    background-position: 100% 50%; }
  .form-group input.error {
    border: 1px solid #F42224;
    color: #F42224;
    background-color: #FDEFEF;
    background-image: url("../images/form-elements/error-icon.png");
    background-repeat: no-repeat;
    background-size: 25px 13px;
    background-position: 100% 50%; }
    .form-group input.error::-webkit-input-placeholder {
      color: #F42224; }
    .form-group input.error:-moz-placeholder {
      color: #F42224; }
    .form-group input.error::-moz-placeholder {
      color: #F42224; }
    .form-group input.error:-ms-input-placeholder {
      color: #F42224; }
  .form-group label.error {
    font-size: 11px;
    font-weight: 500;
    color: #fff;
    background-color: #F42224;
    float: right;
    border-radius: 2px;
    padding: 6px 7px 6px 11px;
    letter-spacing: 0.2px;
    margin: 0 8px 0 0;
    position: absolute;
    bottom: -21px;
    right: 0; }
    .form-group label.error:after {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 4.5px 5px 4.5px;
      border-color: transparent transparent #f42226 transparent;
      position: absolute;
      top: -5px;
      right: 8px; }

.dataTables_wrapper .dataTable {
  border: 1px solid #E9E9E9;
  border-radius: 3px 3px 0 0;
  table-layout: fixed;
  font-size: 12px;
  color: #5e5e5e; }
  .dataTables_wrapper .dataTable * {
    outline: none; }
  .dataTables_wrapper .dataTable thead {
    font-size: 13px;
    color: #333; }
    .dataTables_wrapper .dataTable thead th {
      width: auto !important; }
      .dataTables_wrapper .dataTable thead th:before {
        content: '';
        width: 6px;
        height: 12px;
        background-image: url("../images/form-elements/datatable-sprite.png");
        background-size: 24px 100px;
        position: absolute;
        top: 13px;
        left: 10px; }
      .dataTables_wrapper .dataTable thead th.sorting_asc:before {
        background-position: 0 -13px; }
      .dataTables_wrapper .dataTable thead th.sorting_desc:after {
        background-position: 0 -26px; }
      @media (min-width: 1440px) {
        .dataTables_wrapper .dataTable thead th:last-child {
          width: 516px !important; } }
  .dataTables_wrapper .dataTable tbody {
    -webkit-tap-highlight-color: transparent; }
  .dataTables_wrapper .dataTable tfoot {
    display: table-header-group; }
    .dataTables_wrapper .dataTable tfoot th .icon {
      width: 24px;
      height: 15px;
      background-image: url("../images/form-elements/datatable-sprite.png");
      background-position: 0 -53px;
      background-size: 24px 100px;
      position: absolute;
      top: 17px;
      right: 16px;
      pointer-events: none; }
  .dataTables_wrapper .dataTable th,
  .dataTables_wrapper .dataTable td {
    border-left: 1px solid #E9E9E9;
    position: relative; }
    .dataTables_wrapper .dataTable th:first-child,
    .dataTables_wrapper .dataTable td:first-child {
      border-left: none; }
  .dataTables_wrapper .dataTable th {
    background-color: #f6f6f6; }
    .dataTables_wrapper .dataTable th.sorting_asc, .dataTables_wrapper .dataTable th.sorting_desc {
      color: #4692AD; }
  .dataTables_wrapper .dataTable td {
    text-align: left; }
    .dataTables_wrapper .dataTable td.child {
      padding: 12px 7px 13px !important; }
      .dataTables_wrapper .dataTable td.child li {
        padding: 5px 0 0; }
  .dataTables_wrapper .dataTable input {
    border: 1px solid #DEDEDE;
    border-radius: 3px;
    padding: 6px 30px 6px 10px;
    font: 400 12px 'Helvetica', 'Arial', 'sans-serif';
    width: 100%;
    -webkit-appearance: none; }
    .dataTables_wrapper .dataTable input:hover, .dataTables_wrapper .dataTable input:focus {
      border: 1px solid #4692AD; }
    .dataTables_wrapper .dataTable input:hover + .icon {
      background-position: 0 -69px; }
    .dataTables_wrapper .dataTable input:focus + .icon {
      background-position: 0 -85px; }
.dataTables_wrapper .table-footer {
  font-size: 12px;
  font-weight: bold;
  padding: 11px 0 0; }
  .dataTables_wrapper .table-footer .dataTables_length {
    border-right: 1px solid #DEDEDE;
    padding: 0 27px 1px 0; }
    .dataTables_wrapper .table-footer .dataTables_length label {
      position: relative;
      display: block; }
      .dataTables_wrapper .table-footer .dataTables_length label:after {
        content: '';
        width: 6px;
        height: 12px;
        background-image: url("../images/form-elements/datatable-sprite.png");
        background-size: 24px 100px;
        position: absolute;
        top: 8px;
        right: 13px;
        pointer-events: none; }
    .dataTables_wrapper .table-footer .dataTables_length span {
      vertical-align: baseline; }
    .dataTables_wrapper .table-footer .dataTables_length select {
      background-color: #F9F9F9;
      border: 1px solid #D4D4D4;
      border-radius: 3px;
      font-size: 12px;
      font-weight: normal;
      color: #666666;
      margin: 0 0 0 6px;
      width: 74px;
      padding: 7px 10px 5px;
      letter-spacing: 0.4px;
      -webkit-appearance: none;
      outline: none; }
      .dataTables_wrapper .table-footer .dataTables_length select:hover, .dataTables_wrapper .table-footer .dataTables_length select:focus {
        border: 1px solid #4692AD; }
  .dataTables_wrapper .table-footer .dataTables_info {
    padding: 8px 0 0 22px; }
  .dataTables_wrapper .table-footer .dataTables_paginate .paginate_button {
    color: #666666;
    background-color: #f6f6f6;
    border-radius: 5px;
    position: relative;
    margin-left: 11px;
    border: 1px solid #D4D4D4; }
    .dataTables_wrapper .table-footer .dataTables_paginate .paginate_button.previous {
      padding: 6px 15px 7px 26px; }
      .dataTables_wrapper .table-footer .dataTables_paginate .paginate_button.previous .icon {
        background-position: 0 -39px;
        left: 15px; }
    .dataTables_wrapper .table-footer .dataTables_paginate .paginate_button.next {
      padding: 6px 25px 7px 14px; }
      .dataTables_wrapper .table-footer .dataTables_paginate .paginate_button.next .icon {
        background-position: 0 -46px;
        right: 12px; }
    .dataTables_wrapper .table-footer .dataTables_paginate .paginate_button .icon {
      width: 4px;
      height: 6px;
      background-image: url("../images/form-elements/datatable-sprite.png");
      background-size: 24px 100px;
      position: absolute;
      top: 10px; }

.dataTables_empty {
  padding: 12px 10px 13px !important; }

.box {
  margin: 0 auto !important;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  vertical-align: middle;
  max-width: 230px;
  float: none;
  text-align: left; }
  .box header {
    border-radius: 4px 4px 0 0 !important;
    background-color: #666666 !important; }
    .box header h3 {
      margin: 0 !important; }
  .box .content {
    padding: 0; }

svg {
  margin: 5px;
  cursor: pointer; }
  svg.zeroclipboard-is-active {
    opacity: 0.5; }

#icon-copied {
  width: 160px;
  height: 30px;
  border-radius: 3px;
  font-family: helvetica, arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  background-color: #169E66;
  border: 2px solid #fff;
  padding: 0;
  top: 50%;
  left: 50%;
  margin: -15px 0 0 -80px;
  position: fixed;
  display: none;
  letter-spacing: 0.6px; }

/* Retina */
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5) {
  main > header .logo {
    background-image: url("../images/logo@2x.png") !important; }

  .copy-code:after {
    background-image: url("../images/copy@2x.png") !important; }

  .tinynav {
    background-image: url("../images/arrows@2x.png") !important; }

  .dataTable thead th:before,
  .dataTables_length label:after,
  .dataTables_paginate .paginate_button .icon,
  .dataTable td.sorting_1:before,
  .dataTable tfoot th .icon {
    background-image: url("../images/form-elements/datatable-sprite@2x.png") !important; } }

/*# sourceMappingURL=form-elements.css.map */
