/*

Buttons
=======

  <button class="btn btn-default primary">Primary</button>
  <button class="btn btn-default secondary">Secondary</button>
  <button class="btn btn-default secondary">Secondary</button>
  <button class="btn btn-default btn-lg primarye">Primary</button>
  <button class="btn btn-default btn-lg secondary">Secondary</button>
  <button class="btn btn-default btn-lg tertiary">Tertiary</button>
  <button class="btn has-icon blue">Text and Icon</button>
  <button class="btn has-icon green">Text and Icon</button>
  <button class="btn has-icon grey">Text and Icon</button>
  <button class="btn btn-blue">Primary</button>
  <button class="btn btn-blue icon-i">Primary</button>
  <button class="btn btn-blue icon-pl">Primary</button>
  <button class="btn btn-blue icon-qm">Primary</button>
  <button class="btn btn-blue icon-tm">Primary</button>

*/

.btn{
  height: 35px;
  padding: 0 24px;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.2px;
  display: block;
  margin: 15px 0 0;
  outline: none;
  border: none;
  cursor: pointer;

  &.primary{
    background: #319F5E;

    &:hover{
      background: #309555;
    }
  }

  &.secondary{
    background: #F9F9F9;
    border: 1px solid #D4D4D4;
    color: #7C7C7C;
    font-weight: 400;

    &:hover{
      background: #efefef;
    }
  }

  &.tertiary,
  &:disabled{
    background: #C3C3C3;

    &:hover{
      background: #b0b0b0;
    }
  }

  &.btn-blue{
    background-color: #5291AE;
    font-size: 12px;
    height: 30px;
    line-height: normal;
    position: relative;
    padding: 0 10px;

    &:after{
      content: '';
      position: absolute;
    }

    &:hover{
      color: #fff;
      background-color: #2D5F76;
    }

    &.icon-i{
      padding: 0 36px 0 10px;

      &:after{
        @include sprite(-124px);
        width: 17px;
        height: 18px;
        top: 5px;
        right: 10px;
      }
    }

    &.icon-pl{
      padding: 0 36px 0 10px;

      &:after{
        @include sprite(-143px);
        width: 19px;
        height: 19px;
        top: 5px;
        right: 10px;
      }
    }

    &.icon-qm{
      padding: 0 36px 0 10px;

      &:after{
        @include sprite(-163px);
        width: 19px;
        height: 19px;
        top: 5px;
        right: 10px;
      }
    }

    &.icon-tm{
      padding: 0 39px 0 10px;

      &:after{
        @include sprite(-183px);
        width: 18px;
        height: 18px;
        top: 6px;
        right: 10px;
      }
    }
  }

  &:hover,
  &:focus,
  &:active,
  &.active,
  &:focus:active{
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  &.btn-default{
    &:hover,
    &:focus,
    &:active,
    &.active{
      color: #fff;
      border-color: #D4D4D4;
    }

    &.secondary{
      &:hover,
      &:focus,
      &:active,
      &.active{
        color: #7C7C7C;
      }
    }
  }
}

.btn-lg{
  height: 75px;
  padding: 0 50px;
  font-size: 25px;
  letter-spacing: 0.5px;

  &.secondary{
    font-style: italic;
  }
}

button{
  &.has-icon{
    width: auto;
    height: auto;
    border-radius: 0;
    background: none;
    line-height: normal;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.4px;
    margin: 15px 0 0;
    padding: 0;

    &:hover{
      background: none;
    }

    &.blue{
      color: #5F9BB7;
    }

    &.green{
      color: #169E66;

      .icon{
        border: 2px solid #169E66;

        &:before,
        &:after{
          background: #169E66;
        }
      }
    }

    &.grey{
      color: #7C7C7C;

      .icon{
        border: 2px solid #7C7C7C;

        &:before,
        &:after{
          background: #7C7C7C;
        }
      }
    }

    .icon{
      display: inline-block;
      width: 22px;
      height: 22px;
      border: 2px solid #5F9BB7;
      border-radius: 11px;
      margin: 0px 0px -4px 7px;
      position: relative;

      &:before,
      &:after{
        content: '';
        position: absolute;
        background: #5F9BB7;
        border-radius: 5px;
      }

      &:before{
        width: 10px;
        height: 2px;
        top: 8px;
        left: 4px;
      }

      &:after{
        width: 2px;
        height: 10px;
        top: 4px;
        left: 8px;
      }
    }
  }
}

