/*

Headings
========

  <h1>H1: Heading One</h1>
  <h2>H2: Heading Two</h2>
  <h3>H3: Heading Three</h3>
  <h4>H4: Heading Four</h4>
  <h5>H5: Heading Five</h5>
  <h6>H6: Heading Six</h6>

*/

h1{
  font-size: 36px;
  font-weight: 500;
  line-height: normal;
  color: #494949;
  margin: 15px 0 0;
}

h2{
  font-size: 22px;
  font-weight: 500;
  line-height: normal;
  color: #4A4A4A;
  margin: 15px 0 0;
}

h3{
  font-size: 18px;
  font-weight: normal;
  line-height: normal;
  color: #494949;
  letter-spacing: 0.4px;
  margin: 15px 0 0;
}

h4{
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  color: #494949;
  letter-spacing: 0.2px;
  margin: 15px 0 0;
}

h5{
  font-size: 16px;
  font-weight: normal;
  line-height: normal;
  color: #7C7C7C;
  letter-spacing: 0.3px;
  margin: 15px 0 0;
}

h6{
  font-size: 14px;
  font-weight: bold;
  line-height: normal;
  color: #7C7C7C;
  letter-spacing: 0.3px;
  margin: 15px 0 0;
}