<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="format-detection" content="telephone=no">
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>Sungard UI</title>
    <link rel="shortcut icon" href="">
    {{> assets}}
</head>
<body>

<main>
    <header>
        <div class="resp-container">
            <a class="logo"></a>
        </div>
    </header>

    <section class="heading-section">
        <div class="resp-container">
            <h1>Aruba UI</h1>
            <p>
                The Sungard AS apps can vary from minimal to extremely robust. To maintain consistency of styles
                across all asset forms, we would like to present you with the Aruba UI Kit. Below you will find all
                the basic guidelines for the visual and functional aspects to creating great Sungard AS views.
            </p>
        </div>
    </section>

    <div class="resp-container">
        <section id="sidebar">
            {{#each pages}}
            <ul class="nav">

                <li class="li-header">
                    <a href="{{> root}}/{{href}}">{{capitalizeEach name}}</a>
                </li>
                
                {{#each pages}}
                <li>
                    <a href="{{> root}}/{{href}}">{{title}}</a>
                </li>
                {{/each}}

            </ul>
            {{/each}}

        </section>


        <div class="content">

            <div id="{{lowercase page.title}}">
                <h2>{{page.title}}</h2>

                {{#each page.sections}}
                <section id="{{id}}">
                
                    {{#if comment}}<div class="comment">{{{comment}}}</div>{{/if}}
                    {{#if result}}<div class="result">{{{result}}}</div>{{/if}}
                    {{#if markup}}<div class="source language-markup">{{{markup}}}</div>{{/if}}

                </section>
                {{/each}}
            </div>

        </div>

</main>


<script src="js/jquery-1.11.0.min.js" type="text/javascript"></script>
<script src="js/jquery-ui.min.js" type="text/javascript"></script>
<script src="js/jquery.singlePageNav.min.js" type="text/javascript"></script>
<script src="js/tinynav.js" type="text/javascript"></script>
<script src="js/ZeroClipboard.min.js" type="text/javascript"></script>
<script src="js/jquery.validate.min.js" type="text/javascript"></script>
<script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="//cdn.datatables.net/responsive/1.0.6/js/dataTables.responsive.js" type="text/javascript"></script>
<script>
    // ZeroClipboard.config({swfPath: "http://demo.caadas.com/Sungard%20UI/js/ZeroClipboard.swf"});
</script>
<script src="js/form-elements.js" type="text/javascript"></script>
<script src="js/main.js" type="text/javascript"></script>
</body>
</html>