$color_mine_shaft_approx: #333333;
$color_storm_dust_approx: #666666;
$color_alto_approx: #dedede;
$white: #ffffff;

$font_0: verdana;
$font_1: arial;
$font_2: sans-serif;

$text      : #85878c;  // body text color
$primary     : #263f66;  // primary color used in ui elements
$secondary  : #85878c; // secondary color used in ui elements
$core      : #997758;  // core color used in ui elements
$m       : 12px;   // body text size, used for base of most measurements
$icon      : 16px;   // grid unit size for sprite file

// All base smaller and body text, stylized font defined in base.css.scss
$font     : Arial, Helvetica, sans-serif;
$hfont     : 'avenir_45_bookregular',"Century Gothic", sans-serif;
// $hfont     : $font;

// /* Special Font / Bold Font */
@font-face {
    font-family: 'avenir_45_bookregular';
    src: url('images/avenir-book-webfont.eot');
    src: url('images/avenir-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('images/avenir-book-webfont.woff') format('woff'),
         url('images/avenir-book-webfont.ttf') format('truetype'),
         url('images/avenir-book-webfont.svg#avenir_45_bookregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
