// search

#buttons #search {
  @extend %reset;
  position: relative;
   z-index: 10000;
   width: 64px;
   padding: 0;
  > span {
    position: relative;
    width: 32px;
    height: 32px;
    top: -4px; // was 10px 
    right: -16px; // was 16px
    background: url('images/sprites.png') no-repeat;
    @include icon(1,2,$icon);
    cursor: pointer;
    display: block;
  }
  > div {
    @include corner(bottom,left,1em);
    @include shadow(#595959,0,23px);
    @extend %clip;
    display: none;
    position: absolute;
    top: 46px; 
    right: 0;
    padding: 0 1.5em;
    background: rgb(0,0,0);
    background: rgba(0,0,0,0.75);
    z-index: 10000;
    height: auto !important;
    .input-wrapper {
      float: right;
      display: block; 
      span, label {
        padding: 1.5em;
        display: block;
      }
    }
  }
  label, input {
    @extend %reset;
  }
  input {
    @include corners(0.2em);
    background: rgb(255,255,255);
    background: rgba(255,255,255,0.8);
    padding: 6px;
    font-size: 18px;
    line-height: 18px;
    height: 18px;
    width: 258px;
  }
  input[type="submit"] {
    background: rgb(100,100,100);
    background: rgba(100,100,100,0.8);
    margin: 0;
    width: auto;
    height: 18px;
    padding: 4px 10px 8px;
    color: #fff;
    cursor: pointer;
  }
  .overlay {
    z-index: 9999;
    cursor: pointer;
  }

  // from inline jsx doesn't like inline styles
  .go { display: none; }
  .input-wrapper { @include opacity(0); }
  .paddMe { padding: 2em; }
  // end from inline

}