%_header_nav  {
  ul, li {
    @extend %reset;
  }
  > ul {
    display: table;
    width: 100%;
    background: $primary;
    > li:first-child a {
      border-left: none;
    }
    > li {
      display: table-cell;
      vertical-align: top;
      > div {
        position:relative;
        > a {
          color: #fff;
          display: block;
          &:hover {
            color: #fff;
            text-decoration: none;
          }
        }
      }
      a.inactive {
        color:darken($primary,10%);
      }
      // Makes a secondary dropdown with shadow
      ul { 
        @extend %reset;
        @include shadow($offest: 0, $color: #666, $blur: 1.5em);
        @include corner(bottom,left,6px);
        @include corner(bottom,right,6px);
        clip: rect(0px, 1000px, 1000px, -1.5em); 
        background: #fff;
        display: none; 
        position: absolute;
        top:100%;
        left:1px;
        padding-bottom:6px; 
        li {
          @extend %reset;
          display: block;
            a {
              padding: 5px 3em 5px 10px; 
              display: block; 
              white-space: nowrap;
            }
            a:hover {
              background: $primary;
              color: #fff;
              text-decoration: none;
            }
          ul {
              @include corner(top,right,6px);
              @include shadow(#888,.5em,1em);
              clip: none;
          }
        }
      }
    }
    > li:hover  ul, li:hover ul li:hover ul,
    > li:active  ul, li:active ul li:active ul {
      display: block; 
      z-index: 1;
    }
    // keeps third level closed
    > li:hover li ul { 
      display: none;
    }
  }

  // adjusting for top black area
  &.black {
    > ul {
      width: auto; 
      background: none; 
      position: absolute;
      top: 0; 
      left: 51px;
      > li {
        background: none;
        > a, > div > a {
          background: transparent url('images/black_nav_del.jpg') no-repeat;
          height: 46px; 
          line-height: 21px; 
          padding: 13px 20px; 
          border:none;
          position: relative; 
          z-index: 2;
          font-size: 18px; 
          text-transform: lowercase;
          color: #bfbfc2; 
          letter-spacing: normal;
          font-family: $hfont;        }
        &:hover > a, &:hover > div > a {
          background-color: #000; 
          color: #fff;
          text-decoration: none;
        }
      }
      li.viewpoint {
        width: 112px;
        padding: 0;
        line-height: 0;
        > a, > div > a {
          background: url('images/viewpoint_nav.png'); 
          text-indent: -9999em;
          width: 152px; 
          z-index: 3;
          font-size: 0;
          display: block;
          line-height: 0;
          padding: 0;
        }
        + li {
          > a, > div > a {
            background: none; 
            &:hover {
              background-color: #000; 
              color: #fff;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

// target right buttons
#buttons {
  display: table; 
  position: absolute; 
  top: 0; 
  right:0; 
  height: 46px;
  > div {
    display: table-cell; 
    width: 64px; 
    // icon span base
    > span { 
      position: relative; 
      display: block; 
      height: 46px;
      > a {
        height: 46px; 
        display: block;
        &:before { 
          @extend %sprites; 
          position: absolute; 
        }
      }
      // button drop downs
      &:hover ul {
        display:block
      }
    }
    // icons
    &.user > span > a:before { 
      @include icon(1,6,$icon);
    }
    &.settings{
      li { position: relative; }
      > span > a:before { @include icon(1,4,$icon); }
      // masqueraded checkbox
      a.masqueraded {
        width: 16px; height: 16px; padding: 0 0.2em 0.2em 0;
        margin: 0; position: absolute; left: -0.5em; top: -2px;
        display: block;
        &:before {
          @extend %sprites-sm; @include icon(1,32,$icon);
          content: ' '; position: relative; top: 2px;
          @include opacity(60);
        }
        &:hover:before {
          @include opacity(100);
        }
      }
      a { margin-left: 2em; }
    }
    &.help > span { 
      cursor: pointer; /* remove pointer here when chat is re-enabled */      
      > a:before { 
        @include icon(1,8,$icon); /*> ul > li {cursor: pointer;}  uncomment when chat is re-enabled*/
      }
    }
    ul {
      position: absolute; top: 100%; right: 100%; display: none;
      background: rgba(0, 0, 0, 0.90); 
      border-bottom-left-radius: 1em;
      @include corner(bottom,left,1em); 
      @include corner(bottom,right,1em); 
      @include shadow(#595959,0,23px); 
      @extend %clip; height: auto !important;
      padding: 1em 1.5em 0.9em 1.5em ; z-index: 10000; margin: 0 -64px 0 0;
      li {
        list-style: none; padding-bottom: 0.3em; white-space: nowrap;
        text-align: right;
        a {
          background: none; color: lighten($primary,40%);
          &:before {
            background: none;
          }
        }
      }
    }
  }
}

// branding
#page {
  #logo {
    width: 46;
    text-indent: -9999em;
    display: block;
    height: 46px;
    font-size: 0em;  }
  &, &.sungard 
    {
      #logo {
        background: url('images/sas_logo.png') no-repeat 50% 50%; width: 47px;
        // background: rgba(0,0,0,0) url('images/sas_logo.svg') no-repeat 50% 50%; width: 47px;
        background-size: auto 30px;
      }
      div#nav.black > ul { left: 51px; }
      // footer
      #footer span.sungard { display: inline; }
      #footer span.allstream { display: none; }
    }
  &.allstream 
    { 
      #logo { background: url('images/allstream-logo.png') no-repeat 20px 0; width: 125px; }
      div#nav.black > ul { left: 125px; }
      // footer
      #footer span.sungard, #footer b.sungard, #footer em.sungard { display: none; }
      #footer span.allstream { display: inline; }
    }
  &.generic 
    { 
      #logo { background: url('images/home-screen.png') no-repeat 0 0; width: 46px; }
      div#nav.black > ul { left: 46px; }
      // footer
      #footer span.sungard { display: inline; }
      #footer span.allstream { display: none; }
    }
}

// header nav

#nav {
  @extend %_header_nav;
}