body, html {
  min-height: 100%;
}

body {
  /* No special fonts from files */
  font-family: Arial, Helvetica, sans-serif; 
  font-weight: 300; 
  font-size: 80%; 
  color: $text; 
  background: #e8ebe8; 
  padding: 0; 
  margin: 0; 
  line-height: 1.3em;
}

// define here
%_aside {
  display: none; // fading in after js init
//  @include layer($top: 46px, $right: auto, $bottom: 38px, $index: 1, $width: 22%);
  color: #ddd; 
  overflow: auto; 
  background: #494949;
  > h2, >h3, > p { padding-left: 1em; }
}

%_section {
  display: none; // fading in after js init
  display: block; // temp
//  @include layer($top: 46px, $right: 0, $left: 0, $bottom: 38px, $index: 1 );
  padding: 2em; 
  overflow: auto;
}

%_header {
//  @include layer($bottom: auto, $height: 46px, $index: 999);
  position: fixed; 
  background: #3b3b3b; 
  overflow: visible;
}

%_footer {
//  @include layer($top: auto, $index: 2, $height: 38px);
  @extend %dark-bar;
  background-image: url('images/texture.png'); 
  background-position: right 30%; 
  background-size: 60% auto;
  background-repeat: no-repeat;
  position: fixed; 
  font-size: 0.9em; 
  padding: 1em;
  overflow: hidden;
  a {
    color: #fff;
    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
  b {
    color: #fff; 
    font-weight: 900;
  }
  em {
    display: inline-block; 
    padding: 0 1.28em; 
    color: rgb(150,150,150); 
    color: rgba(255,255,255,0.2);
    font-style: italic;
    @include box-sizing($sizing: content-box);
  }
  > div {
  }
}

// mapping main targets to layout placeholders

// #aside {
//   @extend %_aside;
// }

#section {
  @extend %_section;
}

#header {
  @extend %_header;
}

footer {
  @extend %_footer;
}
