// @import "animations.css.scss";

#buttons > *.noti span a:before {
  background: url('images/bell.png') no-repeat 50% 50%;
}

#buttons > div.noti {
  > span:hover > div {
    display: block;
  }
  > span > div {
    display: none;
    @extend %arrow;
    position: absolute;
    top: 100%;
    left: -100px;
    width: 254px;
    color: $text;
    @include shadow($offest: 0,$blur: 1em,$color: rgba(0,0,0,0.3));
    @include corners(6px);
    padding: 0;
    &:before {
      border-bottom-color: #666;
      border-width: 1em;
      border-left-color: transparent;
      left: 50%;
      right: auto;
      top: -1em;
      bottom: auto;
      margin-left: -0.5em;
    }
    // for better hover experience
    &:after {
      content: ' ';
      display: block;
      position: absolute;
      left: -50px;
      right: -50px;
      top: -5px;
      bottom: -50px;
      z-index: 1;
    }
    > div {
      background: #fff;
      padding: 0;
      @include corner(bottom,right,6px); @include corner(bottom,left,6px);
    }
  }
  #b-notifications {
    @include box-sizing($sizing: content-box);
    overflow: auto;
    max-height: 250px;
    padding: 14px 0 0 14px;
    margin: 0;
    position: relative;
    z-index: 2;
    min-height: 4em;
    li {
      padding: 0 0 1em 30px;
      list-style: none;
      margin: 0 1em 0 0;
      cursor: pointer;
      @include opacity(60);
      background: url('images/check.png') no-repeat 0 1px;
      &.download.unacknowledged, &.download:hover {
        background-image: url('images/download.png');
      }
      &.no-results {
        @extend %full_opacity;
        background: none;
        text-align: center;
        padding: 10px 14px 14px 0;
      }
      & + li {
        border-top: 1px solid #ccc;
        padding-top: 14px;
        background-position: 0 15px;
      }
      &:hover, &.unacknowledged {
        @extend %full_opacity;
        .title {
        }
      }
    }
    .title {
      font-weight: 900;
      cursor: pointer;
    }
    .time {
      color: #a5a5a5;
      text-transform: capitalize;
    }
  }
  h1 {
    font-family: $font;
    background: #666;
    padding: 1em;
    font-size: 14px;
    margin: 0;
    letter-spacing: 0;
    color: #eee;
    @include corner(top,right,6px); @include corner(top,left,6px);
    position: relative;
    cursor: pointer;
    z-index: 3;
    &:after {
      content: ' ';
      background: url('images/va_arrow.png') 50% 50% no-repeat #545454;
      display: none;
      position: absolute;
      right: 1em;
      top: 50%;
      @include corners(3em);
      margin-top: -10px;
      width: 20px;
      height: 20px;
      text-align: center;
    }
    &.view_all:after {
      display: block;
    }
  }
  #b-notification-count {
    display: none;
    @include corners(2em);
    position: absolute;
    top: 22%;
    left: 65%;
    // @extend %do_red_to_grey;
    background-color: #a80d0b;
    color: #fff;
    min-width: 1em;
    height: 15px;
    padding: 4px 3px 2px;
    font-size: 9px;
    line-height: 9px;
    text-align: center;
  }
}

table .unacknowledged {
  font-weight: 900;
  color: #173769;
}

th[class^="sorting"] {
  cursor: pointer;
}

#noti_table .loading .image {
  margin: -4px 0 0 -4px;
}

// from inline jsx doesn't like inline styles
.noti .noti-dropdown { display: none; }