body{
  font-family: helvetica, arial, sans-serif;
  line-height: normal;
}

.form-group,
.checkbox,
.radio{
  margin: 15px auto 0;
  position: relative;
  text-align: left;
  float: left;
  clear: both;
  @include clearfix;

  @include mobile {
    width: 100%!important;
    max-width: 100%!important;
  }

  &:before,
  &:after {
    content: " ";
    display: table;
    clear: both;
  }

  label {
    font: {
      size: 16px;
      weight: 400;
    }
    color: #7C7C7C;
    letter-spacing: 0.3px;
    float: left;

    &:first-child {
      font-size: 14px;
      display: block;
      float: none;
    }

    & + * {
      clear: left;
    }
  }
}

.form-container {
  border: 1px solid #E9E9E9;
  border-radius: 3px;
  background: #fff;
  padding: 16px 20px;
  text-align: center;
  @include clearfix;
}

.form-box {
  margin: 15px auto 0;
  float: left;
  clear: both;
  @include clearfix;

  @include mobile {
    width: 100%;
  }

  header {
    background: #5F9BB7;
    border-radius: 3px 3px 0 0;
    cursor: pointer;

    h4 {
      color: #FFFFFF;
      width: 100%;
      padding: 12px 21px 9px;
      position: relative;
      margin: 0;

      &.has-icon{
        padding: 12px 55px 9px 21px;
      }

      &.open {
        .icon{
          &:after{
            display: none;
          }
        }
      }
    }

    .icon {
      position: absolute;
      top: 8px;
      right: 16px;
      width: 22px;
      height: 22px;
      border: 2px solid #93C0D7;
      border-radius: 11px;

      &:before,
      &:after {
        content: '';
        position: absolute;
        background: #93C0D7;
        border-radius: 5px;
      }

      &:before {
        width: 10px;
        height: 2px;
        top: 8px;
        left: 4px;
      }

      &:after {
        width: 2px;
        height: 10px;
        top: 4px;
        left: 8px;
      }
    }
  }

  &.mobile-expand header{
    cursor: default;

    @include mobile {
      cursor: pointer;
    }

    h4{
      .icon{
        display: none;
      }

      @include mobile {
        .icon{
          display: block;
        }
      }
    }
  }

  .form-container {
    border-top: none;
    border-radius: 0 0 3px 3px;

    *:first-child{
      margin: 0;
    }

    .form-group{
      float: none;
      width: 100%;
    }
  }

  &.full-width {
    width: 100%;

    .form-container {
      width: 100%;
      height: 100%;
      border-radius: 3px;
      border: 1px solid #E9E9E9;
    }
  }
}