@mixin clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
}

@mixin sprite($Y) {
  background-image: url("../images/sprite.png");
  background-size: 25px 236px;
  background-repeat: no-repeat;
  background-position: 0 $Y;
  @media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
  only screen and (-moz-min-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 3/2),
  only screen and (min-device-pixel-ratio: 1.5) {
    background-image: url("../images/sprite@2x.png");
  }
}

@mixin border-radius($BorderRadius...) {
  -moz-border-radius: $BorderRadius;
  -webkit-border-radius: $BorderRadius;
  border-radius: $BorderRadius;
}

$tablet-width: 768px;
$desktop-width: 1024px;
$desktop-wide-width: 1440px;

@mixin mobile {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop-wide {
  @media (min-width: #{$desktop-wide-width}) {
    @content;
  }
}

@mixin retina {
  @media only screen and (-Webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
    @content;
  }
}

@mixin placeholder($color) {
  &::-webkit-input-placeholder {
    color: $color;
  }

  &:-moz-placeholder {
    color: $color;
  }

  &::-moz-placeholder {
    color: $color;
  }

  &:-ms-input-placeholder {
    color: $color;
  }
}