body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

ol, ul {
  list-style: none; }

caption, th {
  text-align: left; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0; }

a, button {
  text-decoration: none;
  border: none;
  outline: none;
  cursor: pointer; }

a, a:hover{
  text-decoration: none;
}

/* Reset */
%reset {
  padding: 0; 
  margin: 0; 
  background: none; 
  border: none; 
  letter-spacing: normal; 
  float: none; 
  height: auto; 
  width: auto;
  list-style: none; 
  top: auto; 
  bottom: auto; 
  left: auto; 
  right: auto;
  box-sizing: content-box;
  -moz-box-sizing: content-box; /* Firefox */
  -webkit-box-sizing: content-box; /* Safari */
}