/*

Checkbox
========

These are checkboxes.

    <div class="form-group">
      <label>Checkbox</label>
      <input type="checkbox" id="checkbox1"/>
      <label for="checkbox1">Checkbox 1</label>
    </div>

*/

.form-group,
.checkbox{
  input{
    &[type="checkbox"]{
      float: left;
      width: auto;
      display: none;

      & + label {
        clear: left;
        margin: 12px 0 0;
        position: relative;
        padding: 3px 0 0 33px;
        display: block;
        width: 100%;
        cursor: pointer;
        line-height: 18px;

        &:hover:before,
        &:focus:before {
          border: 1px solid #4692AD;
        }

        &:before {
          content: '';
          height: 22px;
          width: 23px;
          border-radius: 3px;
          margin-right: 10px;
          background-color: #F9F9F9;
          border: 1px solid #D4D4D4;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
      &:checked {
        & + label{
          &:before{
            background-color: #fff;
            border: 1px solid #44B471;
          }

          &:after{
            content: '';
            width: 11px;
            height: 10px;
            position: absolute;
            top: 5px;
            left: 6px;
            @include sprite(-202px);
          }
        }
      }
    }
  }
}