/*

Datepicker
==========

<div class="form-group">
  <label for="datepicker-from">Date Picker Label Text</label>
  <input type="text" class="datepicker" id="datepicker-from" placeholder="From" readonly="readonly">
  <input type="text" class="datepicker" id="datepicker-to" placeholder="To" readonly="readonly">
</div>

*/

.form-group{
  .hasDatepicker {
    width: 150px;
    min-width: 0;
    float: left;
    margin: 3px 0px 0px 10px;

    @include mobile {
      width: 100%;
      margin: 3px 0 0;
    }

    &:hover + .ui-datepicker-trigger,
    &:focus + .ui-datepicker-trigger {
      @include sprite(-104px);
    }
  }

  .ui-datepicker-trigger {
    float: left;
    margin: 10px 0px 0px -29px;
    width: 19px;
    height: 19px;
    @include sprite(-84px);
    display: block;

    @include mobile {
      float: right;
      margin: 10px 6px 0px -29px;
    }
  }

  label {
    & + .hasDatepicker {
      margin: 3px 0 0 0;

      @include mobile {
        margin: 3px 0 6px;
      }
    }
  }
}