/*

Validated input (Error)
=======================

<form class="validate-form">
  <div class="form-group">
    <label for="static-input">Static Input Field</label>
    <input type="text" id="static-input" placeholder="Static Input Field"/>
  </div>
</form>

*/

.form-group{
  input{
    &.error {
      border: 1px solid #F42224;
      color: #F42224;
      background-color: #FDEFEF;
      background-image: url("../images/error-icon.png");
      background-repeat: no-repeat;
      background-size: 25px 13px;
      background-position: 100% 50%;

      &::-webkit-input-placeholder {
        color: #F42224;
      }

      &:-moz-placeholder {
        color: #F42224;
      }

      &::-moz-placeholder {
        color: #F42224;
      }

      &:-ms-input-placeholder {
        color: #F42224;
      }

      @include retina{
        background-image: url("../images/error-icon@2x.png");
      }

      @include placeholder(#F42224);
    }
  }

  label {
    &.error{
      font-size: 11px;
      font-weight: 500;
      color: #fff;
      background-color: #F42224;
      float: right;
      border-radius: 2px;
      padding: 6px 7px 6px 11px;
      letter-spacing: 0.2px;
      margin: 0 8px 0 0;
      position: absolute;
      bottom: -21px;
      right: 0;

      &:after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 4.5px 5px 4.5px;
        border-color: transparent transparent #f42226 transparent;
        position: absolute;
        top: -5px;
        right: 8px;
      }
    }
  }
}