/*

Input
=====

<div class="form-group">
  <label for="static-input">Static Input Field</label>
  <input type="text" id="static-input" placeholder="Static Input Field"/>
</div>

*/

.form-group{
  input {
    height: auto;
    background-color: #F9F9F9;
    border: 1px solid #D4D4D4;
    border-radius: 3px;
    font-family: Helvetica, Arial, sans-serif!important;
    font-size: 16px;
    line-height: normal;
    color: #7C7C7C;
    margin: 7px 0 0;
    min-width: 300px;
    width: 100%;
    padding: 9px 10px 6px;
    letter-spacing: 0.4px;
    -webkit-appearance: none!important;

    @include mobile {
      min-width: 0;
      width: 100%;
    }

    &:hover,
    &:focus{
      border: 1px solid #4692AD;
      outline: none;
    }

    &:focus{
      background-color: #fff;
    }
  }

  input{
    @include placeholder(#CFCFCF);

    &[type=search] {
      @include sprite(0);
      background-position: 100% 7px;

      &:hover {
        background-position: 100% -21px;
      }

      &:focus {
        background-position: 100% -49px;
      }

      &::-webkit-search-decoration {
        -webkit-appearance: none;
        display: block;
        -webkit-flex: none;
        -webkit-align-self: flex-start;
        margin: auto 0;
      }

      &::-webkit-search-cancel-button,
      &::-webkit-search-decoration {
        -webkit-appearance: none;
      }

      &::-ms-clear {
        display: none;
      }
    }
  }
}