/*

Radio Button
============

<div class="form-group">
  <label>Radio Button</label>
  <input type="radio" id="radio1" name="radio-button"/>
  <label for="radio1">Radio 1</label>
</div>

*/

.form-group,
.radio{
  input{
    &[type="radio"] {
      float: left;
      width: auto;
      display: none;

      & + label {
        clear: left;
        margin: 12px 0 0;
        position: relative;
        padding: 4px 0 0 33px;
        display: block;
        width: 100%;
        cursor: pointer;
        line-height: 18px;

        &:hover:before,
        &:focus:before {
          border: 1px solid #4692AD;
        }

        &:before {
          content: '';
          width: 24px;
          height: 24px;
          border-radius: 50%;
          margin-right: 10px;
          background-color: #F9F9F9;
          border: 1px solid #D4D4D4;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
      &:checked {
        & + label{
          &:before{
            background-color: #fff;
            border: 1px solid #44B471;
          }

          &:after{
            content: '';
            width: 12px;
            height: 12px;
            background-color: #44B471;
            border-radius: 6px;
            position: absolute;
            top: 6px;
            left: 6px;
          }
        }
      }
    }
  }
}