/*

Select
======

<div class="form-group">
  <label for="static-dropdown">Dropdown Label Text</label>
  <select id="static-dropdown">
    <option value="" disabled selected>Static Dropdown</option>
    <option value="option 1">option 1</option>
    <option value="option 2">option 2</option>
  </select>
</div>

*/

.form-group{
  select {
    height: auto;
    background-color: #F9F9F9;
    border: 1px solid #D4D4D4;
    border-radius: 3px;
    font-family: Helvetica, Arial, sans-serif!important;
    font-size: 16px;
    line-height: normal;
    color: #7C7C7C;
    margin: 7px 0 0;
    min-width: 300px;
    width: 100%;
    padding: 9px 10px 6px;
    letter-spacing: 0.4px;
    -webkit-appearance: none!important;
    -moz-appearance: none;
    background-repeat: no-repeat;
    background-image: url("../images/dropdown-icon.png");
    background-position: 100% 50%;
    background-size: 16px 17px;

    @include mobile {
      min-width: 0;
      width: 100%;
    }

    @include retina{
      background-image: url("../images/dropdown-icon@2x.png");
    }

    &:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 #7C7C7C;
    }

    &::-ms-expand {
      display: none;
    }

    &:hover,
    &:focus{
      border: 1px solid #4692AD;
      outline: none;
    }

    &:focus{
      background-color: #fff;
    }
  }

  option {
    &[disabled]{
      color: #CFCFCF;
    }
  }
}