/*

Validated input (Success)
=========================

<form class="validate-form">
  <div class="form-group">
    <label for="static-input">Static Input Field</label>
    <input type="text" id="static-input" placeholder="Static Input Field"/>
  </div>
</form>

*/

.form-group{
  input{
    &.valid {
      border: 1px solid #44B471;
      color: #44B471;
      background-image: url("../images/tick-large.png");
      background-repeat: no-repeat;
      background-size: 27px 12px;
      background-position: 100% 50%;

      @include retina{
        background-image: url("../images/tick-large@2x.png");
      }
    }
  }
}